<html>
<head>
</head>
<body>
<div id="chiSiamo"><h2>CHI SIAMO</h2><p></p></div>
<div id="servizi"><h2>I NOSTRI SERVIZI</h2>
<ul><li>Servizio 1</li>
<li>Servizio 2</li><li>Servizio 3</li>
</ul></div>
<div id="news"><h2>NEWS</h2>
<img id="news_img1" title="immagine 1 news"/>
<img id="news_img2" title="immagine 2 news"/>
<img id="news_img3" title="immagine 3 news"/>
<a href="news.html">Scopri di più</a>
</div>
<div id="prodottiInHome">
<a href="prodotti.html">Scopri di più</a>
</div>

</body>
</html>
