    html {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    body {
        margin: 0em;
    }
    
    header {
        position: -webkit-sticky;
        position: sticky;
        border-bottom: 0.1em solid green;
        top: 0px;
        height: 6.2em;
    }
    
    header h1 {
        position: relative;
        text-align: center;
        width: 8em;
        height: 1.1em;
        right: 40%;
        float: right;
        border: 1px solid red;
    }
    
    header a {
        position: relative;
        z-index: 1;
    }
    
    header form {
        position: relative;
        margin: 1em;
        margin-top: 1.7em;
        text-align: left;
        float: left;
    }
    
    header form input[type=search] {
        position: relative;
        display: inline-block;
        width: 13em;
        height: 2em;
    }
    
    header nav {
        position: relative;
        top: 4em;
        margin: 0em;
    }
    
    header ul li {
        position: relative;
        display: inline;
        margin-left: 4em;
        margin-right: 4em;
    }