    html {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    header {
        position: -webkit-sticky;
        position: sticky;
        border: 0.1em solid green;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: yellow;
    }
    
    header h1 {
        position: relative;
        text-align: center;
        display: block;
        width: 8em;
        height: 1.1em;
        border: 0.1em solid black;
        right: 40%;
        float: right
    }
    
    header form {
        position: relative;
        margin: 1em;
        margin-top: 1.7em;
        text-align: left;
    }
    
    header form input[type=search] {
        position: relative;
        display: inline-block;
        width: 13em;
        height: 2em;
        border: 0.1em solid red;
    }
    
    header ul li {
        position: relative;
        display: inline;
        margin-left: 4em;
        margin-right: 4em;
        border: 0.1em solid black;
    }