html{
    font-size: 2em;
}

/*---------------------HEADER-----------------------*/

header{
    height: 9em;
    width: 100%;
}

header h1 {
    text-align: left;
    margin-top: .5em;
    margin-left: 0.5em;
    width: 30%;
    margin-bottom: 0.3em;
}

header form#ricercaHeader {
    position: relative;
    float: left;
    width: 95%;
    margin-top: 0em;
}

header form#ricercaHeader input[type="search"] {
	position: relative;
	width: 80%;
	height: auto;
	font-size: 1.7em;
	box-shadow: 0 1px 4px var(--viola);
	border: 0;
}

header form#ricercaHeader input[type=submit]{
    height: 2em;
}

header ul#pagine {
    float: none;
    position: absolute;
    top: 3em;
}

header ul#icons {
    width: 55%;
    top: -4em;
    margin-right: 0em;
    margin-top: 15px;
}

header ul#icons li {
    position: relative;
    display: inline;
    margin-left: 20px;
    margin-right: 0;
    vertical-align: middle;
    top: 0.5em;
}

/*------------CONTENUTO-------------*/

div#chiSiamo{
    float: none;
    width: 100%;
}

div#servizi{
    float: none;
    width: 100%;
    left: 0;
}

div#percorso{
    top: -2em;
    height: 3em;
    padding-top: 0;
    padding: 1em;
}

main#content{
    width: 90%;
}

nav#ap_navbar{
    text-align: center;
    float: none;
}
nav#ap_navbar ul{
    padding-left: 0;
    list-style-type: none;  
}
main div#areaPersonale{
    margin-left: 0;
    border: none;
}
main div#areaPersonale input{
    width: 95%;
    height: 3em;
    margin-bottom: 1em;
}

#labelCategoria {
	display: none;
}

#labelMarche {
	display: none;
}

#labelOrdinamento {
	display: none;
}

div#categorie input[type="submit"] {
	padding: 0.5em;
	font-size: 1em;
	color: white;
	background-color: var(--blu);
	border-radius: 10px;
	flex: 1 0 25%;
	margin: 10px;
}

select {
    font-size: 1em;
}

li {
    list-style: none;
}

main h2{
	text-align: center;
}

/*------------FOOTER------------*/

footer{
    height: 15em;
    width: 100%;
}

footer #indirizzi {
    float: none;
    height: 6em;
}
    
footer #contatti {
    float: none;
    height: 6em;
}

footer #quellaRigaSotto{
    position:relative;
    top: 0;
}
