/*---------------------HEADER-----------------------*/

header{
    height: 9em;
}

header h1 {
    text-align: left;
    margin-top: 0;
    margin-left: 0.5em;
    width: 30%;
    margin-bottom: 0.3em;
}

header form#ricercaHeader {
    position: relative;
    float: left;
    width: 95%;
    margin-top: 0em;
}

header form#ricercaHeader input[type=search]{
    position: relative;
    width: 80%;
    height: 2.5em;
}
header form#ricercaHeader input[type=submit]{
    height: 2em;
}

header ul#pagine {
    float: none;
    position: absolute;
    top: 3em;
}

header ul#icons {
    width: 50%;
    top: -3.4em;
    margin-right: 1em;
}

/*------------CONTENUTO-------------*/

div#chiSiamo{
    float: none;
    width: 100%;
}

div#servizi{
    float: none;
    width: 100%;
    left: 0;
}

/*------------FOOTER------------*/

footer{
    height: 15em;
}

footer #indirizzi {
    float: none;
    height: 6em;
}
    
footer #contatti {
    float: none;
    height: 6em;
}

footer #quellaRigaSotto{
    position:relative;
    top: 0;
}
