html{
    font-size: 2em;
}

/*---------------------HEADER-----------------------*/

header{
    height: 9em;
    width: 100%;
}

header h1 {
    text-align: left;
    margin-top: 0;
    margin-left: 0.5em;
    width: 30%;
    margin-bottom: 0.3em;
}

header form#ricercaHeader {
    position: relative;
    float: left;
    width: 95%;
    margin-top: 0em;
}

header form#ricercaHeader input[type=search]{
    position: relative;
    width: 80%;
    height: 5em;
}
header form#ricercaHeader input[type=submit]{
    height: 2em;
}

header ul#pagine {
    float: none;
    position: absolute;
    top: 3em;
}

header ul#icons {
    width: 50%;
    top: -3.4em;
    margin-right: 0em;
}

/*------------CONTENUTO-------------*/

div#chiSiamo{
    float: none;
    width: 100%;
}

div#servizi{
    float: none;
    width: 100%;
    left: 0;
}

div#percorso{
    top: -2em;
    height: 3em;
    padding-top: 0;
    padding: 1em;
}

main#content{
    width: 90%;
}

nav#ap_navbar{
    text-align: center;
    float: none;
}
nav#ap_navbar ul{
    padding-left: 0;
    list-style-type: none;  
}
main div#areaPersonale{
    margin-left: 0;
    border: none;
}
main div#areaPersonale input{
    width: 95%;
    height: 3em;
    margin-bottom: 1em;
}

#labelCategoria {
	display: none;
}

#labelMarche {
	display: none;
}

#labelOrdinamento {
	display: none;
}

div#categorie input[type="submit"] {
	padding: 0.5em;
	font-size: 1em;
	color: black;
	background-color: darkorange;
	border-radius: 10px;
	flex: 1 0 25%;
	margin: 10px;
}

select {
    font-size: 1em;
}

li {
    list-style: none;
}

.ordine {
	border: 3px solid darkorange;
	padding: 5px;
	padding: 0.5em;
	/* font-size: 2.5em; */
	color: white;
	background-color: #222;
	border-radius: 10px;
	margin: 10px;
	margin-left: -2em;
}

.prodotto_item {
	/* border-bottom: 3px solid darkorange; */
	background-color: darkorange;
	color: black;
	border-radius: 10px;
	margin: 10px;
	text-align: center;
	padding: 10px;
}

.display-address {
	border: 3px solid darkorange;
	border-radius: 10px;
	padding: .5em;
}
/*------------FOOTER------------*/

footer{
    height: 15em;
    width: 100%;
}

footer #indirizzi {
    float: none;
    height: 6em;
}
    
footer #contatti {
    float: none;
    height: 6em;
}

footer #quellaRigaSotto{
    position:relative;
    top: 0;
}
