/*----------------GENERALE------------------*/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mukta+Vaani&display=swap');

:root{
    --base: #ffffff;
    --blu: #016fb9; 
    --giallo: #f9c80e;
    --viola: #0e103d;
    --scuro: #0d0221;

}

html {
    font-family: 'Mukta Vaani', 'Lato', Calibri, 'Trebuchet MS', serif;
    font-size: 1em;
    color: black;
    height: 100%;
    width:auto;
}

body {
    background: white;
    color: black;
  }

:link {
    color: var(--blu);
}

:visited {
    color: var(--viola);
}

#aiuti {
    display: none;
}

input[type="submit"] {
    display: none;
}

button {
    /* border-width: 0; */
    display: none;
}

.errore {
    color: red;
    visibility: hidden;
}

.visibile {
    visibility: visible;
}
/*----------------HEADER------------------*/

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 6em;
    background-color: var(--base);
    /*Colore solo per test, NON DEFINITIVO*/
    box-shadow: 0 1px 4px var(--viola);
    z-index: 1;
}

header h1 {
    float: left;
    color: black;
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 0.3em;
    height: auto;
}

header h1 a {
    text-decoration: none;
}

header form#ricercaHeader {
    display: none;
}

header form#ricercaHeader input {
    display: none;
}

header form#ricercaHeader input[type=submit] {
    display: none;
}

header nav {
    display: none;
}

header ul#pagine {
    display: none;
}

header label {
    display: none;
}

header ul#icons {
    display: none;
}

.fa-shopping-cart,
.fa-user {
    display: none;
}

header #counter {
    display: none;
}

#login, #register {
    display: none;
}

#logout {
    display: none;
}

/*------------------CONTENUTO--------------------*/

main {
	padding-bottom: 7em;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
}

main#content {
    padding-left: 1%;
    padding-right: 1%;
    z-index: 0;
}
main img{
	width: 100%;
}

div#chiSiamo {
    float: none;
    width: 100%;
}

div#servizi {
    float: none;
    width: 100%;
    left: 0;
}

div#servizi h2, #chiSiamo h2{
    text-align: center;
}

div#news {
    position: relative;
    top: 2em;
    text-align: center;
    height: auto;
}

div#percorso {
    position: relative;
    top: -1em;
    margin-bottom: -1em;
    background-color: var(--giallo);
    /*Colore solo per test, NON DEFINITIVO*/
    height: 2.5em;
}

div#percorso p {
    position: relative;
    top: 0.7em;
    padding-left: 1%;
}

div#categorie {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

div#categorie form {
    display: none;
}

div#categorie input[type=submit] {
    padding: 0.5em;
    font-size: 2vw;
    color: var(--base);
    background-color: var(--blu);
    /*Colori solo per test, NON DEFINITIVI*/
    border-radius: 10px;
    flex: 1 0 25%;
    margin: 10px;
}



main div#filtroProdotti {
    background-color: var(--base);
    /*Colori solo per test, NON DEFINITIVI*/
    padding: 0.7em 0.1em;
    top: 6em;
    text-align: center;
    margin-left: -1%;
    width: 100%;
}

main div#filtroProdotti input[type=submit] {
    background-color: var(--giallo);
    color: black;
    /*Colori solo per test, NON DEFINITIVI*/
    padding: 0.5em;
    font-size: 1.2em;
    margin: auto;
    margin-top: .5em;
    font-weight: bold;
    border-radius: 7px;
}

main div#filtroProdotti input[type=number] {
    width: 3em;
}

main div#filtroProdotti form input,
main div#filtroProdotti form select {
    margin-right: 1.5em;
}

main .cards {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.prodottoLista {
    border: 1px solid black;
    margin: 0 1em 2em 1em;
    padding: 1em;
    border-radius: 7px;
    flex: 1 1 200px;
    max-width: 25em;
    min-width: 13em;
}

.prodottoLista img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.prodottoLista a:link,
.prodottoLista a:visited {
    text-decoration: none;
    color: var(--viola);
}

main .cards h2 {
    text-align: center;
}

nav#ap_navbar {
    float: left;
    margin-right: 3%;
}

nav#ap_navbar li {
    margin-bottom: 1.3em;
    list-style-type: none;
}

main div#areaPersonale {
    position: relative;
    border-left: 1px solid var(--viola);
    margin-left: 16%;
    padding-left: 4%;
    padding-right: 3%;
    padding-bottom: 2%;
}

main div#areaPersonale input {
    margin-right: 1%;
}

main div#areaPersonale button[type=submit] {
    background-color: var(--giallo);
    padding: 0.3em;
    border-radius: 7px;
    font-weight: bold;
    font-size: 1em;
    margin: 1% 0;
}

main div#areaPersonale h1 {
    margin-top: 1%;
}

main div#areaPersonale img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}
main div#cart {
    list-style-type: none;
}

main ul#cart img{
    height: 200px;
    object-fit: scale-down;
}
main ul#cart{
    padding-left: 0;
}

.prodottoCart {
    border-radius: 10px;
    border: 0;
    box-shadow: 0 1px 4px var(--viola);
    padding: 15px;
    margin: 20px;
    text-align: center;
}


li {
    list-style: none;
}

main input {
    margin: 10px;
    border: 0;
    box-shadow: 0 1px 4px var(--viola);
    padding: 5px;
}

.ordine {
    border: 0;
    box-shadow: 0 1px 4px var(--viola);
    padding: 5px;
    padding: 0.5em;
    /* font-size: 2.5em; */
    color: black;
    background-color: var(--base);
    border-radius: 10px;
    margin: 10px;
    margin-left: -2em;
}
.ordine ul {
	padding-left: 5px;
}

.image img{
	
	border-radius: 10px;
    	box-shadow: 0 1px 4px var(--viola);
}

.prodotto_item {
    background-color: white;
    color: black;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    padding: 10px;
}

a:link, a:visited{
    text-decoration: none;
}

.display-address {
    border: 1px solid black;
    border-radius: 10px;
    padding: .5em;
}

#news{
    display: none;
}
.middle {
    padding: 1em;
    border-radius: 5px;
    background-color: var(--giallo);
    text-align: center;
    font-size: 2em;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#formFiltro {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    justify-content: center;
    column-gap: 30px;
}

#formFiltro label {
    justify-self: right;
    align-self: center;
}

#formFiltro select, input {
    justify-self: left;
    align-self: center;
    margin-left: 0;
    background-color: #ffffff;
    border: 0;
    border-radius: 5px;
    font-size: 1vw;
    box-shadow: 0 1px 4px var(--viola);
}

#formFiltro input[type=number] {
    width: 100%;
}


.imgNovitaContainer figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--blu);
    /* color: var(--viola); */
}

.imgNovitaContainer:hover figcaption {
    opacity: 1;
}
/*-------------------FOOTER------------------*/

footer {
    position: absolute;
    width: 100%;
    height: 7em;
    font-size: 0.8em;
    background-color: var(--giallo);
    color: black;
    /*Colore solo per test, NON DEFINITIVO*/
    text-align: center;
    bottom: 0;
    padding-top: 1em;
}

footer #indirizzi {
    float: left;
    margin-left: 1em;
}

footer #contatti {
    float: right;
    margin-right: 1em;
}

footer #contatti ul li {
    position: relative;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
}

footer #contatti ul li:first-child {
    padding-left: 0em;
}

footer #indirizzi p {
    position: relative;
    left: -2em;
}

footer #indirizzi ul li {
    position: relative;
    left: -4em;
    display: inline-block;
    padding-left: 2em;
    padding-right: 2em;
}

footer #indirizzi ul li:first-child {
    padding-right: 0em;
}
